.main-container {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  .header {
    height: 65px;
    width: 100%;
  }
  .router-content {
    overflow: auto;
    height: 100%;
    padding: 30px 20px;
  }
}
